{% extends "base.html" %}

{% block title %}Login - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Login</h2>
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="text-center">
            <p class="fs-5 fw-light" style="font-family: monospace;">
                NeuroLinkMSU is a remote stroke consultation platform that enables mobile stroke technicians to collect and transmit patient data to remote neurologists for real-time consultation and guidance. It improves patient outcomes and reduces treatment times, making it ideal for mobile stroke units and telemedicine scenarios.
            </p>
        </div>
    </div>
</div>
{% endblock %}
